<footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-2"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="bg-dark" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2022 Copyright:
        <a href="mailto: Kerfalla.Cisse@etu.unige.ch" class="email">Kerfalla.Cisse@etu.unige.ch</a>, <a
            href="mailto: Nikita.Missiri@etu.unige.ch" class="email">Nikita.Missiri@etu.unige.ch</a>
    </div>
    <!-- Copyright -->
</footer>