{% extends "bootstrap/base.html" %}

{% block content %}

    <div class="container">

        <form action="/creation_compte" method="post">
            <div class="mb-3">
                <label for="Nom_utilisateur">Nom</label>
                <input type="text" class="form-control" id="Nom_utilisateur" placeholder="Doe" name="nom" , required>
            </div>

            <div class="mb-3">
                <label for="Prenom_utilisateur">Prénom</label>
                <input type="text" class="form-control" id="Prenom_utilisateur" placeholder="John" name="prenom" ,
                       required>
            </div>

            <div class="mb-3">
                <label for="Num_immatriculation">Numéro d'immatriculation</label>
                <input type="text" class="form-control" id="Num_immatriculation" placeholder="32-560-798"
                       name="num_immatriculation" , required>
            </div>

            <div class="mb-3">
                <label for="Semestre_etude">Semestre d'étude</label>
                <select class="form-select" name="semestre_etude" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>


            <div class="mb-3">
                <label for="Centre_interets">Centres d'intérêts</label>
                <textarea class="form-control" id="Centre_interets" rows="3"
                          placeholder="programmation, machine learning" name="centre_interets" required></textarea>
                <div id="Warning" class="form-text" style="color: darkred;font-style: italic">les mots doivent être séparés par des virgules.</div>
            </div>

            <!-- ce champs ne doit pas être obligatoire, pour les étudiants de première année -->
            <div class="mb-3">
                <label for="Cours_suivis">Cours à option suivis</label>
                <textarea class="form-control" id="Cours_suivis" rows="3"
                          placeholder="D20008, D20009" name="cours_suivis"></textarea>
                <div id="Warning" class="form-text" style="color: darkred;font-style: italic">les codes de cours doivent être séparés par des virgules.</div>
            </div>

            <button type="submit" class="btn btn-secondary">Soumettre</button>


        </form>

    </div>


{% endblock content %}



